body{
   background-color: rgb(213, 245, 255);
    overflow: hidden;
    margin: 0;
    background-repeat: no-repeat;
    width: auto;
    height: auto;

}
div{
    padding: 150px;
    width: 50%;
    margin-top: 15%;
    margin-left:auto;
    margin-right:auto;
background-color: white;
border: pink;
}
img{
    width: 250px;
    height: 350px;
    margin-top: -80px;
    float:left;
    margin-right:10px;
}
h3{
    float:right;
    margin-left:20px;
}
