#randCat{
    border: 15px solid black;
    border-radius: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 700px;
    max-height: 500px;
    min-width: 700px;
    min-height: 500px;
    margin-top: 8%;
    background-color: black;
}

body{
    background-color: rgb(163, 92, 33);
}

h1{
    text-align: center;
    margin-top: 40px;
    font-family: 'Crete Round', serif;
    font-size: 50px;
}

#fact{
    margin-top: 7%;
    font-size: 30px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    width: 90%;
    margin: 7% auto;
}